<ion-header>
  <ion-toolbar>
    <ion-title>TARİH </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="#d92b11" class="right">
      <ion-button routerLink="/home" color="#d92b11">
        <ion-icon name="home" color="light" size="small"></ion-icon>
      </ion-button>
      <ion-title>Kategoriler</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/felsefe"> Felsefe </ion-item>
      <ion-item routerLink="/kisiselgelisim"> Kişisel Gelişim</ion-item>
      <ion-item routerLink="/tarih"> Tarih</ion-item>
      <ion-item routerLink="/ask"> Aşk</ion-item>
      <ion-item routerLink="/cocuk"> Çocuk</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-content>
  
  <ion-list>
    
    
    <ion-item routerLink="/book-tarih-one"> 
      <ion-avatar slot="start">
        <img
          src="assets/img/mehmetniyaziozdemir.png"
        />
      </ion-avatar>
     
      <ion-label><h2>Çanakkale Mahşeri </h2>
        <h6>Mehmed Niyazi  </h6></ion-label>
   
    </ion-item>
    <ion-item routerLink="/book-tarih-two">
      <ion-avatar slot="start">
        <img
        src="assets/img/mehmetniyaziozdemir.png"
        />
      </ion-avatar>
     
      <ion-label><h2>Yemen Ah Yemen!  </h2>
        <h6>Mehmed Niyazi  </h6></ion-label>
   
    </ion-item>




    <ion-item routerLink="/book-tarih-three"> 
      <ion-avatar slot="start">
        <img
          src="assets/img/VICENTEBLASCOIBAnEZ.jpg"
        />
      </ion-avatar>
     
      <ion-label><h2>
        Mahşerin Dört Atlısı
         </h2>
        <h6>VICENTE BLASCO IBAÑEZ  </h6></ion-label>
   
    </ion-item>
    <ion-item routerLink="/book-tarih-four">
      <ion-avatar slot="start">
        <img
        src="assets/img/Vladimir_Bartol_1953.jpg"
        />
      </ion-avatar>
     
      <ion-label><h2>Fedailerin Kalesi Alamut
         </h2>
        <h6>VLADIMIR BARTOL  </h6></ion-label>
   
    </ion-item>
   
  </ion-list>
  
</ion-content>

